@font-face {
    font-family: 'newcicle';
    src: 
        url('../fonts/quicksand-v29-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src:
        local('Quicksand'), 
        url('../fonts/quicksand-v29-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: 
        local('Quicksand'), 
        url('../fonts/quicksand-v29-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: .2rem;
}
body::-webkit-scrollbar-track {
    background-color: hsl(211 28% 25% / .7);
}

body::-webkit-scrollbar-thumb {
    background: hsl(210 8% 95% / 0.7);
}
h1, h2 {
    text-align: center;
}
/* Header Section */
header {
    height: 100vh;
    background-image: linear-gradient(hsl(0 0% 0% / .5), hsl(0 0% 0% / .5)), url('../images/roof_background-min.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.hero-box {
    margin-top: 40vh;
    position: relative;
    width: 10rem;
    height: 6rem;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    font-size: 240%;
    color: hsl(210 8% 95% / .65);
    text-shadow: 2px 4px 3px hsl(0 0% 0% / .3);
    white-space: nowrap;

}
.hero-text span {
    font-size: 120%;
    opacity: 1;
    -webkit-animation: blinker 800ms linear infinite;
            animation: blinker 800ms linear infinite;
}
@-webkit-keyframes blinker {
    50% {
        opacity: 0;
    }
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.borders {
    width: 100%;
    height: 100%;
    border-color: #dd6001 transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    -webkit-animation: changeColor 3000ms ease-in-out infinite;
            animation: changeColor 3000ms ease-in-out infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@-webkit-keyframes changeColor {
    100% {
        -webkit-filter: hue-rotate(360deg);
                filter: hue-rotate(360deg);
        border-color: transparent transparent;
    }
}

@keyframes changeColor {
    100% {
        -webkit-filter: hue-rotate(360deg);
                filter: hue-rotate(360deg);
        border-color: transparent transparent;
    }
}
/* Main Navigation */
.main-nav {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-box {
    width: 5rem;
}
.logo {
    width: 100%;
    background: hsl(0 0% 100% / .5);
    margin: 1rem;
    border-radius: 3px;
    box-shadow: hsl(0 0% 0% / .8) 0px 5px 15px, inset hsl(0 0% 0% / .15) 0px -10px 20px;
}
.navbar {
    list-style-type: none;
    display: flex;
    background: hsl(0 0% 100% / .1);
    border: 1px solid hsl(0 0% 0% / .1);
    border-radius: 2px;
}
.nav-item {
    padding: 1rem 2rem;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fe6f02;
    letter-spacing: 1px;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    transition: all 700ms ease-in-out;
}
.nav-link:hover {
   /*  color: #dd6001; */
    -webkit-filter: hue-rotate(240deg);
            filter: hue-rotate(240deg);
    
}
@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
    .logo {
        background: hsl(0 0% 100% / .4);
        -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);
    }
    .navbar {
        background: hsl(0 0% 100% / .1);
        -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);
    }
}

/* Mobile Navigation */
@media  screen and (max-width: 680px) {
    .hero-box {
        height: 4rem;
    }
    .hero-text {
        font-size: 160%;
    }
    .navbar {
        height: 0;
        z-index: 999;
        position: fixed;
        inset: 0 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        opacity: .5;
        transition: all 800ms ease-in-out;
        overflow: hidden;
    }
    .navbar.active {
        height: 40vh;
        opacity: 1;
        pointer-events: all;
    }
    .burger {
        z-index: 9999;
        position: absolute;
        top: 35%;
        right: 5%;
        width: 25px;
        cursor: pointer;
    }
    .burger .bar, .burger::before, .burger::after {
        content: '';
        display: block;
        background: #dd6001;
        width: 100%;
        height: 2px;
        margin: 4px 0;
        transition: transform 900ms ease-in-out;
    }
    .burger.active::before {
        transform: rotate(45deg) translate(4px, 4px);
    }
    .burger.active::after {
        transform: rotate(-45deg) translate(4px, -4px);
    }
    .burger .bar {
        opacity: 1;
        transition: opacity 900ms linear;
    }
    .burger.active .bar {
        opacity: 0;
    }
}
/* Section Early */
#early {
    background: #f2f3f4;
    color: #333;
    padding: 0 2rem;
}
#early h2 {
    padding-top: 2rem;
    font-size: 180%;
    letter-spacing: 1px;
    color: #dd6001;
}
#early h2::after {
    content: '';
    display: block;
    width: 7rem;
    height: 1px;
    background: #fe6f02;
    margin: 1rem auto;
}

#early .content p {
    text-align:justify;
    padding-bottom: 1.5rem;
}
.it-img {
    width: 20rem;
    height: fit-content;
    margin: 0 auto 1.5rem auto;
    border-radius: 5px;
    box-shadow: hsl(0 0% 0% / .8) 0px 5px 15px, inset hsl(0 0% 0% / .15) 0px -10px 20px;
    overflow: hidden;
}
.it {
    width: 100%;
    transform: scale(1.4);
    opacity: .9;
    transition: all 800ms ease;
}
.it:hover {
    opacity: 1;
    transform: scale(1.1);
}
.task-list {
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    color: #235594;
}
@media screen and (min-width: 1280px) {
    #early .content {
        padding: 4rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .it-img {
        width: 30rem;
        background-size: contain;
    }
}
/* Footer */
footer {
    background: hsl(211 28% 25% / .9);
}
footer p {
    text-align: center;
    color: #fe6f02;
    padding: .8rem;
}